@model IEnumerable<VentaCarProyectoFinal.AppWebMVC.Models.Repuesto>

@{
    Layout = "~/Views/Shared/_LayoutVendedor.cshtml";
}
@{
    ViewData["Title"] = "Repuestos Inactivos";
}

<h1 style="text-align: center; margin-bottom: 20px; color: #dc3545;">Repuestos Inactivos</h1>

@* Esta vista es para la vista del vendedor dentro de la aplicacion para ver y administrar los repuestos activos e inactivos que tiene en sus venntas  *@
<p>
    <a asp-action="Index" class="btn btn-primary">Volver a Repuestos Activos</a>
</p>
@* Estructurar la fila superior de la tabla, que generalmente contiene los títulos o encabezados de cada columna.  *@
<table class="table">
    <thead>
        <tr>

            <th>Repuesto</th>
            <th>Vendedor</th>
            <th>Departamento</th>
            <th>Imagen</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Acciones</th>
        </tr>
    </thead>
    @* Sección de la página web para mostrar la lista de repuestos en formato de tabla,
    con la capacidad de cargar una imagen para cada repuesto y previsualizarla antes de enviarla.  *@
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>@item.NombreRepuesto</td>
                <td>@item.IdVendedorNavigation?.Nombre</td>
                <td>@item.IdDepartamentoNavigation?.Departamento1</td>
                <td>
                    @if (!string.IsNullOrWhiteSpace(item.ImgProducto))
                    {
                        <img src="@item.ImgProducto" alt="@item.NombreRepuesto" style="max-width: 50px; max-height: 50px;">
                    }
                    else
                    {
                        <span>Sin Imagen</span>
                    }
                </td>
                @* Creacion de las acciones  *@
                <td>@item.DescripcionR</td>
                <td>@item.Precio</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">Detalles</a>
                    @* Creacion de la accion para Activar *@
                    <a asp-action="Activar" asp-route-id="@item.Id" class="btn btn-success btn-sm">Activar</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>