@model VentaCarProyectoFinal.AppWebMVC.Models.Cliente

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center mt-4">Detalles del Cliente</h1>

<div class="container d-flex justify-content-center">
    <div class="card shadow-lg p-4 w-50">
        <div class="card-body">
            <h4 class="text-center">Cliente:</h4>
            <hr />

            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th class="w-25 bg-light">@Html.DisplayNameFor(model => model.Nombre)</th>
                        <td>@Html.DisplayFor(model => model.Nombre)</td>
                    </tr>
                    <tr>
                        <th class="bg-light">@Html.DisplayNameFor(model => model.Apellido)</th>
                        <td>@Html.DisplayFor(model => model.Apellido)</td>
                    </tr>
                    <tr>
                        <th class="bg-light">@Html.DisplayNameFor(model => model.Telefono)</th>
                        <td>@Html.DisplayFor(model => model.Telefono)</td>
                    </tr>
                    <tr>
                        <th class="bg-light">@Html.DisplayNameFor(model => model.Direccion)</th>
                        <td>@Html.DisplayFor(model => model.Direccion)</td>
                    </tr>
                    <tr>
                        <th class="bg-light">@Html.DisplayNameFor(model => model.Correo)</th>
                        <td>@Html.DisplayFor(model => model.Correo)</td>
                    </tr>
                    <tr>
                        <th class="bg-light">@Html.DisplayNameFor(model => model.Dui)</th>
                        <td>@Html.DisplayFor(model => model.Dui)</td>
                    </tr>
                    <tr>
                        <th class="bg-light">@Html.DisplayNameFor(model => model.Password)</th>
                        <td>@Html.DisplayFor(model => model.Password)</td>
                    </tr>
                </tbody>
            </table>

            <div class="d-flex justify-content-between mt-3">
                <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary px-4">Editar</a>
                <a asp-action="Index" class="btn btn-secondary px-4">Regresar</a>
            </div>
        </div>
    </div>
</div>

